@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
    background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, rgb(0,0,0),rgb(0,0,0));
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* HEADER NAV BAR */
header {
    background-color: transparent;
}

/* FOOTER */
footer {
    background-color: transparent;
    position: relative;
    bottom: 0;
    width: 100%;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.anton-regular2 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}
.anton-regular3 {
    font-family: "Anton", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 80px;
}
.anton-regular4 {
    font-family: "Anton", sans-serif;
    font-size: 40px;

}

.no-padding-margin {
    margin: 0;
    padding: 0;
}

/* NAV BAR */

.transparent-header {
    background-color: transparent;
}
.text-primary{
    color: #2563EB;
}
.text-warning{
    color: #f65b07;
}
.navbar-toggler-light {
    color:white;
}
.custom-navbar .nav-link {
    font-size: 20px;
}
 .nav-item .nav-link:hover {
    color: red;
}
.custom-navbar .nav-link-home {
    color: red;
}
.custom-navbar .nav-link:hover {
    color: red;
}
.custom-navbar .nav-link {
    color: white;
}
/* NAV BAR */

/* SOCIAL LINKS */

.footer-line{
    width: 60px;
    background-color:red;
    height: 2px
}
.email-link {
    color: white;
}

.email-link:hover {
    color: red; /* Optionnel: Garde la couleur en blanc même au survol */
    text-decoration: none; /* Optionnel: Supprime le soulignement au survol */
}

/* SOCIAL LINKS */

/* HOME PAGE START*/
title {
    font-family: 'Anton', sans-serif;
    color:white;
}

.red{
    background-color: #ef0e0e;
}
.blue{
    background-color: #2563EB;
}
.orange{
    background-color: #f65b07;
}
.white{
    background-color: white;
}
.grey{
    background-color: lightgrey;
}
.imgteam{
    min-height: 80px;
    max-height: 80px;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.card .list-group-item {
    height: 110px;
    overflow: auto;
}
.small-text {
    font-size: 14px;
}
.team-name {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-round {
    border-radius: 50%;
    padding: 10px 20px;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    min-width: 150px;
    width: 350px;
    height: 350px;
    line-height: 340px;
}
.btn-round:hover {
    background-color: white;
    color: black;
}
.btn {
    display: inline-block;
}
.btn-size {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}
.image-text-container {
    display: flex;
    align-items: center;
}

.img-home {
    width: 90%;
    height: auto;
}

.text-button-container {
    text-align: center;
    margin-top: -20px;
}

.img-title-game {
    height: 70%;
    width: 70%;

}
.intro-home {
    padding-left: 20px;
    padding-right: 20px;
}
.social-icon{
    margin-right: 10px;
    display: inline-block;
}
/* HOME PAGE END*/

/* WATCH ALL MATCHES PAGE START*/
.img-online{
    width: 50%;
    height: auto;
}
.imgNLF{
    width: 40%;
}
.team-name {
    word-wrap: break-word;
    text-align: center;
}
.team-score{
    font-size: 30px;
}
.match-status{
    font-size: 20px;
}
/* Appliquez un style de base à votre texte */
.neon-text {
    font-size: 100px; /* Taille de police */
    font-weight: bold; /* Gras pour le texte */
    color: #fff; /* Couleur du texte */
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black; /* Ombre textuelle rouge */
    animation: neon 1.5s ease-in-out infinite alternate; /* Animation néon */
}

/* Animation néon */
@keyframes neon {
    0% {
        text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red; /* Ombre textuelle rouge initiale */
    }
    100% {
        text-shadow:0 0 10px orange, 0 0 20px orange, 0 0 30px orange;  /* Ombre textuelle blanche pour l'effet néon */
    }
}


/*  WATCH ALL MATCHES PAGE END*/

/*  WATCH ONE MATCH PAGE START*/

.rectangle1{
    padding-bottom: 42px;
    padding-top: 42px;
    gap: 10px 10px ;
}

.rectangle2{
    padding-bottom: 22px;
    padding-top: 22px;
    gap: 10px 10px ;
}

.rectangle3{
    height: 80%;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 10px 10px ;

}

.btn-danger{
    background-color: #ef0e0e;
}
.btn-warning{
    background-color: grey;
}
.btn-primary{
    background-color: #2563EB;
}
/* WATCH ONE MATCH PAGE END*/

/* BET ALL MATCHES PAGE START*/
.large-checkbox {
    transform: scale(2);
}

/* Style de base pour votre checkbox */
.large-checkbox {
    position: relative;
    -webkit-appearance: none; /* Désactiver l'apparence par défaut */
    appearance: none;
    background-color: #f6f6f6; /* Couleur de fond par défaut */
    margin: 5px;
    font-size: 15px; /* Taille personnalisée */
    width: 1em; /* Largeur de la boîte */
    height: 1em; /* Hauteur de la boîte */
    border: 1px solid #d1d1d1; /* Bordure de la boîte */
    border-radius: 50%; /* Rendre la boîte ronde */
    cursor: pointer; /* Changer le curseur en main */
    display: inline-block; /* Permettre le placement en ligne */
    vertical-align: middle; /* Alignement vertical avec le texte */
    transition: background-color 0.2s, border-color 0.2s; /* Animation douce pour le changement de couleur */
}

/* Style quand la checkbox est cochée */
.large-checkbox:checked {
    background-color: #ff0000; /* Couleur de fond quand cochée (rouge) */
    border-color: #ff0000; /* Couleur de la bordure quand cochée (rouge) */
}

/* Style pour l'icône à l'intérieur de la checkbox */
.large-checkbox:checked:after {
    content: "✔"; /* Icône de vérification */
    position: absolute; /* Positionnement absolu par rapport à la checkbox */
    top: 50%; /* Positionner au milieu verticalement */
    left: 50%; /* Positionner au milieu horizontalement */
    transform: translate(-50%, -50%); /* Décaler de 50% de sa propre taille pour centrer parfaitement */
    font-size: 0.5em; /* Taille de l'icône, ajustez selon vos besoins */
    color: white; /* Couleur de l'icône */
}

/* Style du conteneur de la checkbox */
.checkbox-container {
    display: flex; /* Utilise Flexbox */
    align-items: center; /* Centre les éléments verticalement */
    font-size: 16px; /* Taille du texte, à ajuster selon vos besoins */
}

.large-checkbox {
    margin-top: 3px; /* Ajustez la marge au besoin pour centrer la checkbox */
    margin-right: 5px; /* Espace entre la checkbox et le label */
}

.large-checkbox + label {
    margin-left: 5px; /* Espace entre la checkbox et le label */
    margin-top: 10px;
}
.img-bet {
    width: 70%;
    height: auto;
    margin-top: -250px;
}

/* BET ALL MATCHES PAGE END*/

/* LOGIN */
.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-login {
    width: 50%;
}
.login-btn{
    border-radius: 90px;
    width: 100%;
    height: 50px;
}
.img-login {
    width: 50vh;
    height: auto;
    margin-top: -20px;
    margin-bottom: 30px;
}
.anton-regular5 {
    font-family: "Anton", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
}

/* REGISTRATION FORM */
.form-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-field-label {
    margin-bottom: 16px;
}
.regis-btn{
    border-radius: 90px;
    width: 20%;
    height: 50px;
}

/* ONE MATCH DETAILS*/

.img-match-detail {
    width: 100%;
    height: auto;
}
.img-match-detail2 {
    width: 80%;
    height: auto;
}

.img-match-nlf {
    width: 50%;
    height: auto;
    margin-top: -250px;
}
.img-match-nlf2 {
    width: 50%;
    height: auto;

}
.img-match-nlf3 {
    width: 100%;
    height: auto;
    margin-top: -50px;

}
.detail-match-name {
    display: flex; /* Active Flexbox */
    align-items: center; /* Centre verticalement les éléments enfants */
    justify-content: center; /* Centre horizontalement les éléments enfants */
    text-align: center;
    font-size: 30px;
}
.comment-size{
    font-size: 20px;
    margin-top: 50px;
}
.comment-size2{
    font-size: 50px;
    margin-top: 50px;
}
.comment-size3{
    font-size: 30px;
    margin-top: 30px;
}
.comment-size4{
    font-size: 70px;
}
.players-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2px;
    max-width: 600px; /* Ajoutez une largeur maximale */
    margin: auto;
}

.player-name {
    width: calc(100% / 5 - 10px); /* Pour 2 colonnes */
    text-align: center;
    margin-bottom: 5px;
}
.login-btn3{
    border-radius: 90px;
    width: 20%;
    height: 50px;
}

/* ONE MATCH DETAILS END*/

/* HISTORIC USER SPACE START*/
.login-btn2{
    border-radius: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.login-btn{
    border-radius: 90px;
    width: 100%;
    height: 50px;
}

/* USER INFORMATIONS*/
.info-size{
    font-size: 25px;
}
.regis-btn2{
    border-radius: 90px;
    width: 20%;
    height: 50px;
    margin-right: 10px;
    line-height: 40px; /* Ajouté pour centrer le texte verticalement */
    text-align: center; /* Centrer le texte horizontalement */
}

/* CREATE SPORT BET START*/

.img-match-detail {
    width: 50%;
    height: auto;
}
.img-title-game2 {
    height: auto;
    width: 60%;

}
.game-title-play{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
.game-text-play{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
select.form-control, select.form-control option {
    font-family: "Anton", sans-serif;
    font-size: 16px;
}
/* CREATE SPORT BET END*/

/* MODIFY SPORT BET START*/



/* FOR TABLETTES **************************************************************************************************************************/
@media only screen and (max-width: 900px) {

    .image-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-home {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-top: 5px;
    }

    .img-title-game {
        width: 70%;
        height: auto;
    }
    .text-button-container {
        text-align: center;
        margin-top: 20px;
    }
    .img-login {
        width: 50vh;
        height: auto;
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .img-bet {
        margin-top: -70px; /* Ajustez cette valeur pour les tablettes */
    }
    .img-match-nlf {
        width: 50%;
        height: auto;
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .img-match-nlf2 {
        width: 80%;
        height: auto;
    }
    .login-btn2{
        border-radius: 90px;
        width: 60%;
        height: auto;
        font-size: 14px; /* Taille de texte plus petite pour tablette */
        padding: 10px 20px; /* Ajustez le padding si nécessaire */
    }
    .img-title-game2 {
        height: auto;
        width: 50%;

    }

}
/* FOR MOBILES *****************************************************************************************************************************/
@media only screen and (min-width: 360px) and (max-width: 768px) {
    .img-login {
        width: 30vh;
        height: auto;
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .regis-btn{
        border-radius: 90px;
        width: 50%;
        height: 50px;
    }
    .intro-allmatchs {
        font-size: 30px;
    }
    .img-bet {
        margin-top: -30px; /* Ajustez cette valeur pour les mobiles */
    }
    .img-match-nlf {
        width: 80%;
        height: auto;
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .img-match-nlf2 {
        width: 80%;
        height: auto;
    }
    .player-name {
        width: calc(50% - 10px);
    }

    .login-btn2{
        border-radius: 90px;
        width: 100%;
        height: auto;
        font-size: 12px; /* Taille de texte plus petite pour mobile */
        padding: 5px 10px; /* Ajustez le padding si nécessaire */
    }
    .social-icon{
        margin-right: 4px;
        margin-top: 10px;/* Espace réduit entre les icônes pour les écrans plus petits */
        width: 24px; /* Taille réduite des icônes */
        height: 24px;
    }
    svg {
        width: 24px; /* Taille réduite des icônes SVG */
        height: 24px;
    }
    .regis-btn2 {
        width: 40%; /* Ajustez la largeur pour prendre tout l'espace disponible */
        margin-right: 10px; /* Supprimez la marge droite si nécessaire */
        margin-bottom: 10px; /* Ajoutez une marge en bas pour séparer les boutons */
    }
    .img-title-game2 {
        height: auto;
        width: 100%;

    }

}


